<%= form_for @flight, :remote => true do |f| %>

  <div class="field">
    <%= f.label :arrival_airport_id%><br />
    <%= f.select :arrival_airport_id, options_from_collection_for_select(Airport.all, 'id', 'airport_code') %>
  </div>
  <div class="field">
    <%= f.label :departure_airport_id %><br />
    <%= f.select :departure_airport_id, options_from_collection_for_select(Airport.all, 'id', 'airport_code') %>
  </div>
 <div class="field">
    <%= f.label :arrival_datetime %><br />
    <%= f.datetime_select :arrival_datetime %>
 </div>
 <div class="field">
    <%= f.label :departure_datetime %><br />
    <%= f.datetime_select  :departure_datetime %>
 </div>
 <div class="field">
    <%= f.label :flight_code %><br />
    <%= f.text_field :flight_code %>
 </div>

 <div class="field">
  <%= f.label :plane_id %>
  <%= f.select :plane_id, options_from_collection_for_select(Plane.all, 'id', 'plane_name') %>
 </div>


 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

