<h1>Flight</h1>


<table>
  <td><%= @flight.departure_airport.airport_code %></td>
  <td><%= @flight.departure_airport.city %></td>
  <td><%= @flight.arrival_airport.airport_code %></td>
  <td><%= @flight.arrival_airport.city %></td>
  <td><%= @flight.departure_datetime %></td>
  <td><%= @flight.arrival_datetime%></td>
</table>