<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ifly.by</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
 <div class="navbar navbar-fixed-top">
  <div class="container">
   <ul class="nav navbar-nav">
    <a class="navbar-brand plane" href="#">ifly.by</a>
       <ul class="nav nav-pills pull-right" id= "mybuttons">
         <% if passenger_signed_in? %>
         <li><a href="#">My Tickets</a></li>
           <li><%= link_to "Sign Out", destroy_passenger_session_path, :method => :delete %></li>
         <% else %>
           <li><%= link_to "Sign In", new_passenger_session_path %></li>
             <li><%= link_to "Sign Up", new_passenger_registration_path %></li>
         <% end %>
         <% flash.each do |k,v| %>
           <div><%= v %></div>
         <% end %>
       </ul>





   </ul>
 </div>
 </div>
 <div class="container">
<%= yield %>
</div>
</body>
</html>