<!DOCTYPE html>
<html>
<head>
  <title>IflyBy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if passenger_signed_in? %>
	  <%= link_to "sign out", destroy_passenger_session_path %>
	<% else %>
	  <%= link_to "sign in", new_passenger_session_path %> or <%= link_to "sign up", new_passenger_registration_path %>
	<% end %>
	<% flash.each do |k,v| %>
	  <div><%= v %></div>
	<% end %>

<%= yield %>

</body>
</html>
