<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ifly.by</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
 <div class="navbar">
   <a class="navbar-brand" href="#">ifly.by</a>
   <ul class="nav navbar-nav pull-right">
     <% if passenger_signed_in? %>
      <li><%= button_to "sign out", destroy_passenger_session_path, :method => :delete, :class => "btn btn-default navbar-btn" %></li>
       <li><a href="#">Tickets</a></li>
     <% else %>
       <li><%= button_to "sign in", new_passenger_session_path, :class => "btn btn-default navbar-btn" %></li>
         <li><%= button_to "sign up", new_passenger_registration_path, :class => "btn btn-default navbar-btn" %></li>
     <% end %>
     <% flash.each do |k,v| %>
       <div><%= v %></div>
     <% end %>
     <form class="navbar-form pull-left">
       <input type="text" class="form-control" style="width: 200px;">
       <button type="submit" class="btn btn-default">Search</button>
     </form>
   </ul>
 </div>
>>>>>>> master
<%= yield %>

</body>
</html>